/* src/components/MovieDetail/MovieDetail.css */

.movie-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 800px;
  margin: auto;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-detail-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}

.movie-detail-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}

.movie-detail-container p {
  font-size: 1.2em;
  line-height: 1.6;
  margin-bottom: 10px;
}

.movie-detail-container .details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-detail-container .details p {
  text-align: center;
  margin: 5px 0;
}
