.slick-slide > div {
    padding:0 15px; 
}

.slick-slide:last-child {
  padding-right: 20px; 
}
  
.slick-prev:before{
  font-size: 35px !important;
  margin-left: 20px;
 
}
.slick-next:before{
  font-size: 35px !important;
  margin-left: -40px;

}
